{% extends 'base.html' %}
{% block menu %}
    {% if perms.webapp.change_photo  %}
        <li><a href="{% url 'webapp:edit_photo' photo.pk %}">Edit Photo</a></li>
    {% endif %}
    {% if perms.webapp.delete_photo %}
        <li><a href="{% url 'webapp:delete_photo' photo.pk %}">Delete Photo</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card  mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ photo.photo.url }}" class="card-img" alt="photo">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <p class="card-note">{{ photo.note }}</p>
              <p class="card-note">Created by: {{ photo.author }}</p>
              <p class="card-note">Created at: {{ photo.created_at }}</p>
              <p class="card-like">Likes: {{ photo.like }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="comment-list">
        {% for comment in photo.photo_comment.all %}
            <hr>
            <div class="comment">
                <p><b>{{ forloop.counter }}. {{ comment.text }}</b></p>
                <p>Created by - {{ comment.comment_author }},  date: {{ comment.comment_created_at|date:'d.m.Y H:i:s'}}</p>
                {% if comment.comment_author == request.user%}
                    <a href="#" id="delete_comment" onclick="deleteComment({{ comment.pk }})">Delete</a>{#                    <button type="button" class="btn btn-primary" onclick="deleteComment({{ comment.pk }})">Delete</button>#}
                {% endif %}
            </div>
        {% empty %}
            <p>No comments yet.</p>
        {% endfor %}
    </div>
    <hr>
    <h3>You can add comment below</h3>
    <form action="#" method="POST" id="add_comment">
    {% csrf_token %}
        <div>
            <input type="hidden" id="photo_id" value="{{ photo.pk }}" style="width: 100%;">
            <input type="text" id="comment" style="width: 100%;">
        </div>
            <button type="submit" class="btn btn-primary mt-3">Add</button>
    </form>
{% endblock %}