{% extends 'base.html' %}
{% block menu %}
    <li><a href="{% url 'webapp:edit_photo' photo.pk %}">Edit Photo</a></li>
    <li><a href="{% url 'webapp:delete_photo' photo.pk %}">Delete Photo</a></li>
{% endblock %}
{% block content %}
    <div class="card  mb-3" style="max-width: 540px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ photo.photo.url }}" class="card-img" alt="photo">
        </div>
        <div class="col-md-8">
          <div class="card-body">
              <p class="card-note">{{ photo.note }}</p>
              <p class="card-note">Created by: {{ photo.author }}</p>
              <p class="card-note">Created at: {{ photo.created_at }}</p>
              <p class="card-like">Likes: {{ photo.like }}</p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}